# Entrega 2 Bases de Datos 2020-2

Para poder utilizar este Notebook se debe tener instalado:
- Python 3
- Jupyter
- La librería ipython-sql. Para instalarla pueden hacerlo con pip3:
```
pip3 install ipython-sql
```
- MySQL y su contenedor desde Python (si usa una Base de Datos MySQL)
```
pip install mysql-connector-python
```

In [1]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: traitlets>=5 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.3.0)
Requirement already satisfied: backcall in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: stack-data in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.30)
Requirement already satisfied: jedi>=0.16 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: pickleshare in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.9.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\ricar\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
from datetime import date, datetime
import random as r
#Librerías para MySQL
import mysql.connector

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Si están usando **MySQL**, `lang+driver = mysql+mysqlconnector`

Ejemplo: `mysql+mysqlconnector://dbadmin:pass_segura@localhost:3306/tarea-bd`

In [3]:
%load_ext sql
%env DATABASE_URL=mysql+mysqlconnector://MySql:MySql@localhost:3306/dopamine_v3

env: DATABASE_URL=mysql+mysqlconnector://MySql:MySql@localhost:3306/dopamine_v3

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [26]:
#Código para MySQL
connection = mysql.connector.connect(
   host="localhost",
   user="MySql",
   database='dopamine_v3',
   passwd="MySql"
)

print(connection)
cursor = connection.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E68AE3B790>

## Código Generador de Datos

Para la populación de datos, se creo un código en python para generar estos, el cual se denomina "funcionesPopulacion.py" el cual se importa al Notebook, para poder popular la base de datos, de forma secuencial y coherente. Para las entidades primarias, se considero un número de 25 entradas, sin embargo, este se dejo como parámetro y puede ser modificado al variar la variable 'n'.

### Consideraciones populación: Desglose por tabla

1. **types**: Solo hay tres tipos de contenidos ofrecidos, por lo cual solo hay tres entradas en la tabla.
2. **usuarios**: La populación de usuarios requiere de un archivo de texto, llamado 'usernames.txt', donde se listan 100 usernames generados al azar. Esto restringe el valor máximo para 'n'.
3. **categoria**: Se decidió poner cinco categorías.
4. **juegos**: La populación requiere el archivo de texto 'juegos_clean.txt' para popular la tabla. En este hay listado 50 juegos, por lo que esto también restringe el valor máximo para 'n'. La columna 'idCategoria' para un juego es asignanada al juego de forma aleatoria y sin relación con la realidad del juego. Por ejemplo, tetris podría listarse como un juego de acción. Como base, el precio de los juegos parte en 3500 y es generado como una factor aleatorio mayor que uno que multiplica la base.
5. **DLC**: Considerando los juegos generados en el punto anterior, se genera un número máximo de 0.8 veces el número de juegos generados, para popular la tabla DLC. Un juego puede tener como máximo tres DLC, el nombre de cada DLC es el nombre del juego, más el número actual del DLC para este. Por ejemplo el segundo DLC de tetris, se listaria como "Tetris 2". No se consideró categoria para los DLC pues heredan la del juego padre. Para la generación del precio de DLC se usa el mismo criterio de la generación de precios en juego. 
6. **bundles**: Un bundle tien 3 elementos máximo, como regla general, el primer elemento siempre será un juego, el segundo elemento puede ser un juego o un dlc, y el último elemento puede ser juego, bundle o NULL, lo que implicaria que ese bundle, contiene 2 elementos. El precio generado para el bundle, es la suma del precio individual de los elementos que lo conforman, multiplicado por un factor entre 0.5 - 0.9
7. **items**: Por cada elemento de la tablas juegos, dlc, bundles mapea el elemento a la tabla items, para que se le asigne un id estándar y único, el valor de la columna idType corresponde al valor asociado a la entidad en la tabla types. 
8. **descuentos**: El número de descuentos disponible es un 0.6 de la cantidad de entradas en la tabla items. Las tres entidades disponibles pueden tener descuentos (juegos, dlc y bundles). La generación de fechas para los descuentos, se fija que la fecha de creación del descuento, no puede ser inferior a la fecha de creación de la entidad asociada, por ende si 'Tetris se estreno hoy, no puede tener un descuento aplicado hace un mes'. 
9. **recibos**: El número de items que un usuario compra es un valor aleatorio entre 0 y el número total de items que no posee. Se considero que un usuario, no puede comprar un bundle que contenga un juego/dlc que ya tiene o comprar un juego que esté presente en un bundle que ya ha comprado. El usuario solo puede comprar un item (bundle, dlc, juego) solo una vez. La fecha de compra del juego se genera considerando que no puede ser inferior a la fecha de creación de la entidad asociada. Para la aplicación de descuento, se considero que la fecha de compra, tiene que estar entre el rango válido para la aplicación del descuento, en caso contrario se rellena el campo con 'Null'. ValorPagado, registra el que el usuario pago por el item, esto es costo( 1 - descuento/100). 
10. **biblioteca**: En biblioteca solo se registra los juegos o dlc que tiene un usuario, los bundles son desempaquetados y añadidos individualmente en sus partes. Cada entrada tiene asociado el recibo de la compra donde fue adquirido. El resto de los campos fue rellenado aleatoriamente.

In [27]:
# -- coding: utf-8 --


import funcionesPopulacion as populate # Archivo donde se encuentras la funciones implementadas para la populacion de datos

In [28]:
n = 25 #Numero entidades primarias

# Populacion tabla types
query = "INSERT INTO types (idType, entidad) VALUES (%s, %s)"
data = [(0,'Juegos'), (1, 'DLC'), (2, 'Bundles')]
cursor.executemany(query,data)
connection.commit()

# Populacion tabla usuarios: Se generaran 25 usuarios de forma aleatoria
query = "INSERT INTO usuario (NombreUsuario, Email, Pais, PasswordHash, DT) VALUES (%s, %s, %s, %s, %s)"
data = populate.generateUsers(n)
cursor.executemany(query,data)
connection.commit()

# Populacion tabla categoria: Se generan 5 categorias para los juegos. Para efectos de la generacion no se especifico que las categorias coincidieran con la realidad.
accion  = ("accion", "De lucha y peleas. Basados en ejercicios de repetición (por ejemplo, pulsar un botón para que el personaje ejecute una acción).", "+10")
arcade  = ("arcade", "Plataformas, laberintos, aventuras. El usuario debe superar pantallas para seguir jugando. Imponen un ritmo rápido y requieren tiempos de reacción mínimos.", "E")
deportivo = ("deportivo", "Fútbol, tenis, baloncesto y conducción. Recrean diversos deportes. Requieren habilidad, rapidez y precisión.", "E")
estrategia = ("estrategia", "aventuras, rol, juegos de guerra…Consisten en trazar una estrategia para superar al contrincante. Exigen concentración, saber administrar recursos, pensar y definir estrategias", "E")
simulacion = ("simulacion", "aviones, simuladores de una situación o instrumentales… Permiten experimentar e investigar el funcionamiento de máquinas, fenómenos, situaciones y asumir el mando.", "T")
data = [accion, arcade, deportivo, estrategia, simulacion]
query = "INSERT INTO categoria (NombreCategoria, Descripcion, Clasificacion) VALUES (%s, %s, %s)"
cursor.executemany(query, data)
connection.commit()

# Populacion tabla juegos: Se generan 25 entradas para la tabla. 
query = "INSERT INTO juegos (NombreJuego, CompaniaDesarrolladora, Precio, idCategoria, fechaLanzamiento) VALUES (%s, %s, %s, %s, %s)"
data  = populate.generateGames(populate.juegos, populate.base, populate.meses, n)
cursor.executemany(query, data)
connection.commit()

# Populacion tabla DLC: Se utiliza un factor de generacion para los dlc, que indica que el numero de estos generado sera = 0.8 * N°Total Juegos
query = "SELECT idJuegos, NombreJuego, fechaLanzamiento FROM juegos"
cursor.execute(query)
result = cursor.fetchall()
data = populate.generateDLC(result)
query = "INSERT INTO dlc (idJuegos, nombre, releaseDate, precio) VALUES (%s, %s, %s, %s)"
cursor.executemany(query,data)
connection.commit()

# Populacion bundles: El numero de estos a generar, será de 1/5 del numero total de juegos.
query = "SELECT idJuegos, precio, fechaLanzamiento FROM juegos"
cursor.execute(query)
infoJuegos = cursor.fetchall();
query = "SELECT idDLC, precio, releaseDate FROM dlc"
cursor.execute(query)
infoDLC = cursor.fetchall();
query = "INSERT INTO bundles (idTypeA, idItemA, precioA, idTypeB, idItemB, precioB, idTypeC, idItemC, precioC, precio, fechaCreacion) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
data = populate.generateBundles(infoJuegos, infoDLC)
cursor.executemany(query, data)
connection.commit()

# Populacion items:
query = "SELECT idJuegos FROM juegos"
cursor.execute(query)
juegos = cursor.fetchall()
query = "SELECT idDLC from dlc"
cursor.execute(query)
dlcs = cursor.fetchall()
query = "SELECT idbundles FROM bundles"
cursor.execute(query)
bundles = cursor.fetchall()
data = populate.generateItems(juegos, dlcs, bundles)
query = "INSERT INTO item (idType, idJuegos, idDLC, idbundles) VALUES (%s, %s, %s, %s)"
cursor.executemany(query,data)
connection.commit()

# Populacion descuentos: 
query = "SELECT idJuegos, fechaLanzamiento FROM juegos"
cursor.execute(query)
juegos = cursor.fetchall()
query = "SELECT idDLC, releaseDate FROM dlc"
cursor.execute(query)
dlcs = cursor.fetchall()
query = "SELECT idbundles, fechaCreacion FROM bundles"
cursor.execute(query)
bundles = cursor.fetchall()
query = "SELECT * FROM item"
cursor.execute(query)
items = cursor.fetchall()
query = "INSERT INTO descuentos (idItem, porcentaje, fechaInicio, fechaTermino) VALUES (%s, %s, %s, %s)"
data = populate.generateDescuentos(items, juegos, dlcs, bundles)
cursor.executemany(query,data)
connection.commit()

# Populacion recibos:
query = "SELECT idUsuario, DT FROM usuario"
cursor.execute(query)
usuarios = cursor.fetchall()
query = "SELECT idJuegos, precio FROM juegos"
cursor.execute(query)
juegos = cursor.fetchall()
query = "SELECT idbundles, idTypeA, idItemA, idTypeB, idItemB, idTypeC, idItemC, precio, fechaCreacion FROM bundles"
cursor.execute(query)
bundles = cursor.fetchall()
query = "SELECT idDescuento, idItem, porcentaje, fechaInicio, fechaTermino FROM descuentos"
cursor.execute(query)
descuentos = cursor.fetchall()
query = "SELECT idDLC, idJuegos, releaseDate, precio FROM dlc"
cursor.execute(query)
dlcs = cursor.fetchall()
query = "SELECT idItem, idType, idJuegos, idDLC, idbundles FROM item"
cursor.execute(query)
items = cursor.fetchall()
query = "INSERT INTO recibocompras (idUsuario, idItem, idDescuento, costo, ValorPagado, DT) VALUES (%s, %s, %s, %s, %s, %s)"
recibos = populate.generateRecibos(usuarios, juegos, bundles, dlcs, descuentos, items)
cursor.executemany(query, recibos)
connection.commit()

# Populacion biblioteca
query = "SELECT idReciboCompras, idUsuario, idItem, DT FROM recibocompras"
cursor.execute(query)
recibos = cursor.fetchall()
query = "SELECT * FROM item"
cursor.execute(query)
items = cursor.fetchall()
query = "SELECT * FROM bundles"
cursor.execute(query)
bundles = cursor.fetchall()
query = "INSERT INTO biblioteca (idUsuario, idReciboCompras, idItem, Licencia, HorasJugadas, Instalado, DT) VALUES (%s, %s, %s, %s, %s, %s, %s)"
data = populate.generateBiblioteca(recibos, items, bundles)
cursor.executemany(query,data)
connection.commit()

## Consultas

A continuación se desarrollan las querys pedidas.

### Consulta 1
**Obtener todos los Juegos que pertenecen a la Categoría X.**

**Solución:** Seleccionar todos los juegos cuya columna idCategoria, este asociada a la categoría 'acción'.

In [29]:
%%sql
SELECT *
FROM juegos
WHERE idCategoria = 
(
    SELECT idCategoria FROM categoria WHERE NombreCategoria = 'accion'
)

3 rows affected.

[(18, 'Pro Evolution Soccer', 'Konami', 35000, 1, datetime.datetime(1995, 12, 22, 9, 51, 25)),
 (21, 'Wii Sports', 'Nintendo EAD', 7000, 1, datetime.datetime(2006, 11, 19, 18, 18, 39)),
 (23, 'Gran Turismo', 'Polyphony Digital', 35000, 1, datetime.datetime(1998, 5, 12, 22, 44, 20))]

### Consulta 2
**Obtener, por Juego, el costo de comprar todos sus DLC, ordenados de mayor a menor.**

**Solución:** Seleccionar el nombre del juego desde la tabla juegos, la suma de precios desde la tabla DLC, hacer un RIGHT JOIN, para mapaear todos los juegos en la tabla DLC por el idJuegos, comun para ambas. Se elige RIGHT JOIN para que aparezcan todos los juegos, incluso si no tienen DLC. Se agrupan los resultados, por juego y se ordena por precio descendente.

In [30]:
%%sql
SELECT  juegos.NombreJuego, SUM(dlc.precio) AS CostoDLCs
FROM dlc
RIGHT JOIN juegos
ON dlc.idJuegos=juegos.idJuegos
GROUP BY juegos.idJuegos ORDER BY CostoDLCs DESC

 * mysql+mysqlconnector://MySql:***@localhost:3306/dopamine_v3
25 rows affected.

[('The Sims', Decimal('31500')),
 ('Pokemon', Decimal('24500')),
 ('FIFA', Decimal('24500')),
 ('Grand Theft Auto V', Decimal('24500')),
 ('Wii Sports', Decimal('17500')),
 ('NBA 2K', Decimal('17500')),
 ('Tetris', Decimal('14000')),
 ('Final Fantasy', Decimal('14000')),
 ('The Legend of Zelda', Decimal('14000')),
 ('Battlefield', Decimal('14000')),
 ('Super Mario', Decimal('10500')),
 ('Call of Duty', Decimal('10500')),
 ('Gran Turismo', Decimal('10500')),
 ("Assassin's Creed", Decimal('7000')),
 ('Grand Theft Auto', None),
 ('Minecraft', None),
 ('Need for Speed', None),
 ('Mario Kart', None),
 ('Madden NFL', None),
 ('Pro Evolution Soccer', None),
 ('Resident Evil', None),
 ('Lego', None),
 ('Wii Sports', None),
 ('Dragon Quest', None),
 ('Sonic the Hedgehog', None)]

### Consulta 3
**Obtener, por Juego, la cantidad de DLC que tiene. Ignore juegos con 0 DLC.**

**Solución:** Seleccionar el nombre del juego desde la tabla juegos, el número de veces que aparece el idJuegos de un determinado juego en la tabla DLC, hacer un INNER JOIN, para mapaear todos los juegos en la tabla DLC por el idJuegos, comun para ambas. Se elige INNER JOIN para que aparezcan todos los juegos que son comunes a ambas tablas, esto excluye a los sin DLC.

In [ ]:
%%sql
SELECT  juegos.NombreJuego, COUNT(dlc.idJuegos) AS CantDLC
FROM dlc
INNER JOIN juegos ON dlc.idJuegos=juegos.idJuegos  GROUP BY juegos.idJuegos
ORDER BY CantDLC DESC

### Consulta 4
**Obtener por cada Usuario y Categoría, el valor de la compra más cara efectuada.**

**Solución:** Primero se realiza un INNER JOIN a la tabla juegos con categoria, para poder mapear los juegos con su categoria respectiva (J). Luego se realiza un INNER JOIN de esta tabla resultante, con la tabla items, para poder asociar el idItem de cada juego a su categoria, extraemos estas columnas. Realizamos la unión de este resultado con el resultado del INNER JOIN de la tabla DLC con la tabla resultante (J), de esta manera podemos asociar la categoria del juego padre al DLC, luego se realiza el INNER JOIN de este resultado con la tabla item, para poder asociar el idDLC con su respectivo idItem, de esta forma obtenemos una tabla general con el idItem de cada juego y DLC asociado al nombre de su categoria. De esta tabla resultante se hace un último INNER JOIN con la tabla recibo compras, para poder asociar el valor de cada transacción hecha sobre los items encontrados, luego extraemos el máximo por categoria y por usuario de las compras realizadas, agrupando el resultado por usuario y categoria.

In [ ]:
%%sql
SELECT recibocompras.idUsuario, Q.NombreCategoria, MAX(recibocompras.ValorPagado)
FROM recibocompras
INNER JOIN
(
    SELECT item.idItem, J.NombreCategoria
    FROM
    (
        SELECT juegos.idJuegos, categoria.NombreCategoria
        FROM juegos
        INNER JOIN categoria
        ON juegos.idCategoria = categoria.idCategoria
    ) AS J
    INNER JOIN item
    ON J.idJuegos = item.idJuegos
    UNION
    SELECT item.idItem, K.NombreCategoria
    FROM
    (
        SELECT dlc.idDLC, H.NombreCategoria
        FROM
        (
            SELECT juegos.idJuegos, categoria.NombreCategoria
            FROM juegos
            INNER JOIN categoria
            ON juegos.idCategoria = categoria.idCategoria
        ) AS H
        INNER JOIN dlc
        ON dlc.idJuegos = H.idJuegos
    ) AS K
    INNER JOIN item
    ON item.idDLC = K.idDLC
) AS Q
ON recibocompras.idItem = Q.idItem
GROUP BY Q.NombreCategoria, recibocompras.idUsuario
ORDER BY recibocompras.idUsuario

### Consulta 5
**Obtener el nombre de los juegos de la categoría X tales que sean el Juego más barato de algún Usuario.**

**Solución:** Primero se debe obtener la idCategoria asociada a la categoría de interés, para esto se hace una selección desde la tabla categoría a aquella que en el campo NombreCategoria corresponda a  “acción” (la categoría que se escogió como filtro). guardando de esta forma la idCategoria que se  buscaba. Luego de la tabla juegos se seleccionan todos los juegos que en idCategoria aparezca la idCategoria obtenida anteriormente. Se seleccionan desde la tabla item todos los idItem que correspondan a idjuegos que aparezcan en la selección que se acababa de hacer recientemente. Ahora con estos idItem se debe ingresar a la tabla recibocompras y se seleccionan todas las filas en las que su idItem se encuentre en el conjunto de items que se obtuvieron antes de este paso, a este resultado le llamamos K

Por otro lado se debe realizar este mismo procedimiento pero en el último paso se conservarán las  columnas idUsuario, ValorPagado de las filas en las que se encuentre el mínimo ValorPagado por usuario y se agrupa por usuario. A este resultado le llamamos Q.

Se hace un INNER JOIN entre Q y K intersectando según idUsuario y ValorPagado, recuperando de esta forma la información correspondiente a idItem asociada a los juegos más baratos comprados por los usuarios. De este resultado se conservan sólo el conjunto de los  idItem que cumplan, luego desde la tabla Item se obtienen todos los idJuegos que se asocian a un idItem presente en el conjunto recien obtenido y finalmente desde la tabla juegos se seleccionan todos los nombres de los juegos que se asocian a un idjuegos presente en la última selección hecha.

In [ ]:
%%sql
SELECT juegos.NombreJuego
FROM juegos
WHERE juegos.idJuegos IN
(
    SELECT item.idJuegos
    FROM item
    WHERE item.idItem IN
    (
        SELECT K.idItem
        FROM 
        (
            SELECT recibocompras.idUsuario AS idUsuario, MIN(recibocompras.ValorPagado) AS minVP
            FROM recibocompras
            WHERE recibocompras.idItem IN 
            (
                SELECT item.idItem
                FROM item
                WHERE item.idJuegos IN 
                (
                    SELECT juegos.idJuegos
                    FROM juegos
                    WHERE juegos.idCategoria =
                    (
                        SELECT categoria.idCategoria
                        FROM categoria
                        WHERE categoria.NombreCategoria = 'accion'
                    )
                )
            ) 
            GROUP BY recibocompras.idUsuario
        ) AS Q
        INNER JOIN 
        (
            SELECT *
            FROM recibocompras
            WHERE recibocompras.idItem IN 
            (
                SELECT item.idItem
                FROM item
                WHERE item.idJuegos IN 
                (
                    SELECT juegos.idJuegos
                    FROM juegos
                    WHERE juegos.idCategoria =
                    (
                        SELECT categoria.idCategoria
                        FROM categoria
                        WHERE categoria.NombreCategoria = 'accion'
                    )
                )
            )
        ) AS K
        ON Q.idUsuario = K.idUsuario AND Q.minVP = K.ValorPagado
        GROUP BY K.idItem
    )
) 
ORDER BY NombreJuego

### Consulta 6
**Obtener, por cada Juego, las ganancias generadas por las Ventas de sus DLCs**

**Solución:** En primera instancia, seleccionar desde la tabla items todos los idItem que corresponden a la entidad = 'dlc' , luego se hace un INNER JOIN de este resultado con la tabla recibocompras, con lo que se obtienen todos los 'recibos' de los DLCs. Luego se hace un INNER JOIN de este resultado con la tabla DLC, obteniendo la relación entre idDLC e idJuego, para finalmente hacer un INNER JOIN entre este resultado y la tabla juegos. De este resultado se esta extrayendo el NombreJuego desde la tabla juegos y se hace la sumatoria del valor pagado, por cada DLC asociado a un juego, agrupando finalmente el resultado por el nombre del juego.

In [ ]:
%%sql 
SELECT juegos.NombreJuego, SUM(recibocompras.ValorPagado) AS GananciasDLC
FROM 
    (
        (
        recibocompras
        INNER JOIN 
            (
            SELECT item.idItem AS idItem, item.idDLC AS idDLC
            FROM item
            WHERE item.idType = 
                (
                SELECT idType
                FROM types
                WHERE entidad = 'dlc'
                )
            ) AS DLC ON recibocompras.idItem = DLC.idItem
        )
        INNER JOIN dlc ON dlc.idDLC = DLC.idDLC
    
    )
INNER JOIN juegos ON juegos.idJuegos = dlc.idJuegos
GROUP BY juegos.NombreJuego
ORDER BY GananciasDLC DESC

 ### Consulta 7
**Obtener todos los Usuarios que hayan comprado al menos un Bundle que contenga un DLC.**

**Solución:** Se seleccionan desde la tabla bundles todos los idbundles que tengan valor 1 (implica que el ítem corresponde a dlc) en al menos una de las columnas correspondientes a el tipo de contenido que puedan contener un dlc, es decir  idTypeB e idtypeC. Para relacionar el idItem asociado a los idbundles obtenidos se hace un inner join entre este resultado y la tabla Item intersectando las columnas idbundles y seleccionando de este resultado la columna iditem. Se ingresa a la tabla recibocompras y se extrae el idUsuario de todos los usuarios que hayan comprado un item que aparezca en el listado de idItem obtenido en el paso anterior. finalmente se selecciona desde la tabla usuarios todos los NombreUsuario que se asocien a los idUsuario obtenidos en el último paso descrito.

In [ ]:
%%sql
SELECT usuario.NombreUsuario
FROM usuario
WHERE usuario.idUsuario IN
(
    SELECT recibocompras.idUsuario
    FROM recibocompras
    WHERE recibocompras.idItem IN 
    (
        SELECT item.idItem 
        FROM item
        INNER JOIN 
        (
            SELECT bundles.idbundles AS idbundles
            FROM bundles
            WHERE bundles.idTypeB = 1 OR bundles.idTypeC = 1
        ) AS Q
        ON Q.idbundles = item.idbundles
    )
)
ORDER BY NombreUsuario

 ### Consulta 8
**Obtener, por Usuario, el gasto total que ha efectuado en compras del año pasado. Excluya compras de costo menor a $X.**

 Se escoge X = 7500

**Solución:** Se selecciona desde la tabla recibocompras el idUsuario y el ValorPagado, todas las filas cuyo ValorPagado sea mayor o igual a $X y que la fecha de realización sea entre '2019-01-01 00:00:00' y '2019-12-31 23:59:59', luego se realiza un INNER JOIN del resultado con la tabla juegos, para asociar cada compra por usuario con el NombreUsuario, se hace la SUM(ValorPagado) por usuario para obtener lo gastado, finalmente se realiza un GROUP BY NombreUsuario.

In [ ]:
%%sql
SELECT usuario.NombreUsuario, SUM(Q.ValorPagado) AS Gasto
FROM usuario
INNER JOIN
    (
        SELECT recibocompras.idUsuario, recibocompras.ValorPagado
        FROM recibocompras
        WHERE recibocompras.ValorPagado >= 7500 AND recibocompras.DT BETWEEN '2019-01-01 00:00:00' AND '2019-12-31 23:59:59'
    ) AS Q
ON usuario.idUsuario = Q.idUsuario
GROUP BY usuario.NombreUsuario
ORDER BY Gasto DESC

## Consultas DIY:

A continuación se planean las dos query creadas por *Dioses en qué me metí*

### Consulta 1:

**Por bundle, obtener la cantidad de usuarios que lo compran, hasta 2 meses luego de la creación de este.** 

**Solución:** Seleccionar desde la tabla bundles, el idbundles y la fecha de creación de este, sobre este resultado se hace un INNER JOIN con la tabla item, para poder relacionar la idbundles con su respectivo idItem. Sobre este resultado se aplica otro INNER JOIN con la tabla recibocompras, de esta forma tener una fila por cada transacción que contenga a algunos de los idItem asociado a bundles. Luego filtramos para que solo sean transacciones realizadas hasta dos meses luego de la creación del bundle. Finalmente, contamos las filas en las que aparece un bundle y agrupamos por idbundle.

In [ ]:
%%sql
SELECT K.idbundles, COUNT(K.idbundles) AS CantidadComprada
FROM recibocompras
INNER JOIN
(
    SELECT item.idItem, item.idbundles, Q.fechaCreacion
    FROM item
    INNER JOIN
    (
        SELECT bundles.idbundles, bundles.fechaCreacion
        FROM bundles
    ) AS Q
    ON item.idbundles = Q.idbundles    
) AS K
ON recibocompras.idItem = K.idItem
WHERE recibocompras.DT <= DATE_ADD(K.fechaCreacion,INTERVAL 2 MONTH)
GROUP BY K.idbundles

### Consulta 2:

**Numero de descuentos que han sido aplicadas, por usuario y por categoria de juego. En caso de no tener ningun descuento aplicado, no se muestra fila.**

**Solución:** Se hace un INNER JOIN de las tablas, juegos y categoria, para asociad el idJuego a su categoria respectiva. A este resultado se le realiza un INNER JOIN con la tabla items, para poder tener el idItem asociado a la categoria del item. Luego seleccionamos desde la tabla descuentos, todas las filas que correspondieran al descuento de un item encontrado en el resultado anterior, de esta forma se tiene asociado el idDescuento a la categoria del juego al que se le aplica. Luego realizamos un INNER JOIN de este resultado con la tabla recibocompras, para poder extraer todos las transacciones donde se haya aplicado uno de estos descuentos encontrados. De esta tabla resultante, extraemos el idUsuario, el NombreCategoria del juego asociado y contamos el número de veces que aparece la categoría por usuario, agrupamos el resultado por idUsuario y NombreCategoria. 

**Nota:** A pesar de que existen muchos descuentos en tabla descuentos, dado que los datos se generaron de forma aleatoria, las fechas de compra rara vez coinciden con la fecha de validez del descuento, es por esto que aparecen pocos usuarios que han logrado comprar con descuento. (Mente de tiburón)

In [ ]:
%%sql
SELECT recibocompras.idUsuario, J.NombreCategoria, COUNT(J.NombreCategoria) AS DescAplicados
FROM recibocompras
INNER JOIN
(
    SELECT descuentos.idDescuento, K.NombreCategoria
    FROM
    (
        SELECT item.idItem, Q.NombreCategoria
        FROM 
        (
            SELECT juegos.idJuegos, categoria.NombreCategoria
            FROM juegos
            INNER JOIN categoria
            ON juegos.idCategoria = categoria.idCategoria
        ) AS Q
        INNER JOIN item 
    ON item.idJuegos = Q.idJuegos
    ) AS K
    INNER JOIN descuentos
    ON descuentos.idItem = K.idItem
) AS J
ON J.idDescuento = recibocompras.idDescuento
GROUP BY recibocompras.idUsuario, J.NombreCategoria
ORDER BY recibocompras.idUsuario

In [25]:
connection.close()